#################################
# Laravel
#################################

/app/vendor/
/app/node_modules/
/app/storage/*.key
/app/storage/logs
/app/storage/framework/cache
/app/storage/framework/sessions
/app/storage/framework/views

/app/.env
/app/.env.*

/app/public/hot
/app/public/storage
/app/.phpunit.result.cache

#################################
# Docker
#################################

*.log
docker/*.log
.env

#################################
# OS / IDE
#################################

.DS_Store
.vscode/
.idea/